.Rform{
    /* border: 1px solid black; */
    margin: auto;
     width: 25%;
    margin:auto ;
    margin-top: 16%;
    margin-left:40%
  }

button,
input {
  display: block;
  margin-bottom: 10px;

}
button{
    background-color:rgb(132, 132, 239);
}
